body {
  margin:0px;
  background-color:rgba(35, 111, 144, 1);
  background-image:none;
  position:static;
  left:auto;
  width:469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:148px;
  width:280px;
  height:295px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:295px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Copperplate';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:-13px;
  width:280px;
  height:310px;
  font-family:'Copperplate';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:10px;
  top:147px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3 {
  position:absolute;
  left:0px;
  top:34px;
  width:280px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u5 {
  position:absolute;
  left:27px;
  top:91px;
  width:300px;
  height:170px;
}
#u6 {
  position:absolute;
  left:10px;
  top:77px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7 {
  position:absolute;
  left:27px;
  top:82px;
  width:229px;
  height:147px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:2px;
  top:64px;
  width:225px;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:249px;
  top:78px;
  width:1px;
  height:1px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:216px;
  top:285px;
  width:28px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u11 {
  position:absolute;
  left:115px;
  top:232px;
  width:52px;
  height:19px;
  font-size:10px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u0_ann {
  position:absolute;
  left:373px;
  top:144px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u13 {
  position:absolute;
  left:29px;
  top:22px;
  width:440px;
  height:55px;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:802px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:802px;
}
#u17 {
  position:absolute;
  left:10px;
  top:393px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:321px;
}
#u18 {
  position:absolute;
  left:25px;
  top:148px;
  width:430px;
  height:321px;
}
#u19 {
  position:absolute;
  left:2px;
  top:152px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:448px;
  top:144px;
  width:1px;
  height:1px;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 255, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:30px;
  top:367px;
  width:420px;
  height:56px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_ann {
  position:absolute;
  left:443px;
  top:363px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(35, 111, 144, 1);
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:84px;
  top:130px;
  width:600px;
  height:480px;
}
#u1.a {
  top:0px;
  width:600px;
  height:478px;
}
#u1_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Copperplate';
  font-weight:400;
  font-style:normal;
}
#u2.a {
  top:231px;
  width:580px;
}
#u3.a {
  left:177px;
  top:66px;
  width:246px;
}
#u3_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4.a {
  width:246px;
}
#u5.a {
  left:21px;
  top:104px;
  width:555px;
  height:337px;
}
#u5_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:337px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6.a {
  top:160px;
  width:535px;
}
#u7.a {
  left:172px;
  top:348px;
  width:251px;
  height:82px;
}
#u7_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:82px;
  background:inherit;
  background-color:rgba(153, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8.a {
  top:32px;
  width:247px;
}
#u7_ann.a {
  left:416px;
  top:344px;
}
#u9.a {
  left:284px;
  top:317px;
}
#u9_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10.a {
}
#u11.a {
  left:25px;
  top:153px;
  width:551px;
  height:127px;
}
#u11_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u12.a {
  width:551px;
}
#u0_state0.a {
  width:600px;
  height:480px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u0_ann.a {
  left:677px;
  top:126px;
}
#u13.a {
  left:164px;
  top:24px;
  height:73px;
}
#u13_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u14.a {
}
#u16.a {
  width:768px;
}
#u16_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:802px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -2px 3px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u17.a {
  width:748px;
}
#u18.a {
  left:169px;
  top:240px;
}
#u18_img.a {
}
#u19.a {
}
#u18_ann.a {
  left:592px;
  top:236px;
}
#u20.a {
  left:174px;
  top:458px;
}
#u20_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 255, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21.a {
}
#u20_ann.a {
  left:587px;
  top:454px;
}
