body {
  margin:0px;
  background-color:rgba(35, 111, 144, 1);
  background-image:none;
  position:static;
  left:auto;
  width:469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:148px;
  width:280px;
  height:295px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:295px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
}
#u1 {
  position:absolute;
  left:0px;
  top:-13px;
  width:280px;
  height:310px;
  font-family:'Copperplate';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:147px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:280px;
  height:84px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:327px;
}
#u5 {
  position:absolute;
  left:-161px;
  top:-32px;
  width:439px;
  height:327px;
  opacity:0.1;
}
#u6 {
  position:absolute;
  left:2px;
  top:156px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:36px;
}
#u7 {
  position:absolute;
  left:-161px;
  top:295px;
  width:439px;
  height:36px;
  opacity:0.2;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:125px;
}
#u9 {
  position:absolute;
  left:278px;
  top:-32px;
  width:102px;
  height:125px;
  opacity:0.2;
}
#u10 {
  position:absolute;
  left:2px;
  top:54px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:202px;
}
#u11 {
  position:absolute;
  left:278px;
  top:93px;
  width:102px;
  height:202px;
  opacity:0.2;
}
#u12 {
  position:absolute;
  left:2px;
  top:93px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:125px;
}
#u13 {
  position:absolute;
  left:380px;
  top:-32px;
  width:52px;
  height:125px;
  opacity:0.2;
}
#u14 {
  position:absolute;
  left:2px;
  top:54px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:202px;
}
#u15 {
  position:absolute;
  left:380px;
  top:93px;
  width:52px;
  height:202px;
  opacity:0.2;
}
#u16 {
  position:absolute;
  left:2px;
  top:93px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
}
#u17 {
  position:absolute;
  left:278px;
  top:295px;
  width:154px;
  height:36px;
  opacity:0.2;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19 {
  position:absolute;
  left:27px;
  top:82px;
  width:229px;
  height:147px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20 {
  position:absolute;
  left:2px;
  top:64px;
  width:225px;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:249px;
  top:78px;
  width:1px;
  height:1px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:216px;
  top:285px;
  width:45px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u23 {
  position:absolute;
  left:115px;
  top:232px;
  width:52px;
  height:19px;
  font-size:10px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u0_ann {
  position:absolute;
  left:373px;
  top:144px;
  width:1px;
  height:1px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u25 {
  position:absolute;
  left:29px;
  top:22px;
  width:440px;
  height:55px;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:802px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 54, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:802px;
}
#u29 {
  position:absolute;
  left:10px;
  top:393px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:321px;
}
#u30 {
  position:absolute;
  left:25px;
  top:148px;
  width:430px;
  height:321px;
}
#u31 {
  position:absolute;
  left:2px;
  top:152px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_ann {
  position:absolute;
  left:448px;
  top:144px;
  width:1px;
  height:1px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 255, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:30px;
  top:367px;
  width:420px;
  height:56px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_ann {
  position:absolute;
  left:443px;
  top:363px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(35, 111, 144, 1);
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:84px;
  top:130px;
  width:600px;
  height:480px;
}
#u1.a {
  top:0px;
  width:600px;
  height:478px;
}
#u1_img.a {
  width:600px;
  height:478px;
}
#u2.a {
  top:231px;
  width:596px;
}
#u3.a {
  left:182px;
  top:42px;
  width:250px;
  height:56px;
}
#u3_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4.a {
  top:-14px;
  width:250px;
}
#u5.a {
  left:21px;
  top:104px;
  width:411px;
  height:304px;
}
#u5_img.a {
  width:411px;
  height:304px;
}
#u6.a {
  top:144px;
  width:407px;
}
#u7.a {
  left:21px;
  top:408px;
  width:411px;
  height:33px;
}
#u7_img.a {
  width:411px;
  height:33px;
}
#u8.a {
  top:8px;
  width:407px;
}
#u9.a {
  left:432px;
  top:104px;
  width:95px;
  height:116px;
}
#u9_img.a {
  width:95px;
  height:116px;
}
#u10.a {
  top:50px;
  width:91px;
}
#u11.a {
  left:432px;
  top:220px;
  width:95px;
  height:188px;
}
#u11_img.a {
  width:95px;
  height:188px;
}
#u12.a {
  top:86px;
  width:91px;
}
#u13.a {
  left:527px;
  top:104px;
  width:49px;
  height:116px;
}
#u13_img.a {
  width:49px;
  height:116px;
}
#u14.a {
  top:50px;
  width:45px;
}
#u15.a {
  left:527px;
  top:220px;
  width:49px;
  height:188px;
}
#u15_img.a {
  width:49px;
  height:188px;
}
#u16.a {
  top:86px;
  width:45px;
}
#u17.a {
  left:432px;
  top:408px;
  width:144px;
  height:33px;
}
#u17_img.a {
  width:144px;
  height:33px;
}
#u18.a {
  top:8px;
  width:140px;
}
#u19.a {
  left:173px;
  top:373px;
  width:251px;
  height:82px;
}
#u19_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:82px;
  background:inherit;
  background-color:rgba(153, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20.a {
  top:32px;
  width:247px;
}
#u19_ann.a {
  left:417px;
  top:369px;
}
#u21.a {
  left:284px;
  top:317px;
}
#u21_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22.a {
}
#u23.a {
  left:25px;
  top:153px;
  width:551px;
  height:127px;
}
#u23_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u24.a {
  width:551px;
}
#u0_state0.a {
  width:600px;
  height:480px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u0_ann.a {
  left:677px;
  top:126px;
}
#u25.a {
  left:164px;
  top:24px;
  height:73px;
}
#u25_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u26.a {
}
#u28.a {
  width:768px;
}
#u28_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:802px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 54, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29.a {
  width:748px;
}
#u30.a {
  left:169px;
  top:240px;
}
#u30_img.a {
}
#u31.a {
}
#u30_ann.a {
  left:592px;
  top:236px;
}
#u32.a {
  left:174px;
  top:458px;
}
#u32_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 255, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.a {
}
#u32_ann.a {
  left:587px;
  top:454px;
}
body.b {  background-color:rgba(35, 111, 144, 1);
  background-image:none;
  position:static;
  left:auto;
  width:904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:304px;
  top:130px;
  width:600px;
  height:480px;
}
#u1.b {
  top:0px;
  width:600px;
  height:478px;
}
#u1_img.b {
  width:600px;
  height:478px;
}
#u2.b {
  top:231px;
  width:596px;
}
#u3.b {
  left:182px;
  top:44px;
  width:263px;
}
#u3_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4.b {
  width:263px;
}
#u5.b {
  left:21px;
  top:104px;
  width:411px;
  height:304px;
}
#u5_img.b {
  width:411px;
  height:304px;
}
#u6.b {
  top:144px;
  width:407px;
}
#u7.b {
  left:21px;
  top:408px;
  width:411px;
  height:33px;
}
#u7_img.b {
  width:411px;
  height:33px;
}
#u8.b {
  top:8px;
  width:407px;
}
#u9.b {
  left:432px;
  top:104px;
  width:95px;
  height:116px;
}
#u9_img.b {
  width:95px;
  height:116px;
}
#u10.b {
  top:50px;
  width:91px;
}
#u11.b {
  left:432px;
  top:220px;
  width:95px;
  height:188px;
}
#u11_img.b {
  width:95px;
  height:188px;
}
#u12.b {
  top:86px;
  width:91px;
}
#u13.b {
  left:527px;
  top:104px;
  width:49px;
  height:116px;
}
#u13_img.b {
  width:49px;
  height:116px;
}
#u14.b {
  top:50px;
  width:45px;
}
#u15.b {
  left:527px;
  top:220px;
  width:49px;
  height:188px;
}
#u15_img.b {
  width:49px;
  height:188px;
}
#u16.b {
  top:86px;
  width:45px;
}
#u17.b {
  left:432px;
  top:408px;
  width:144px;
  height:33px;
}
#u17_img.b {
  width:144px;
  height:33px;
}
#u18.b {
  top:8px;
  width:140px;
}
#u19.b {
  left:173px;
  top:373px;
  width:251px;
  height:82px;
}
#u19_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:82px;
  background:inherit;
  background-color:rgba(153, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20.b {
  top:32px;
  width:247px;
}
#u19_ann.b {
  left:417px;
  top:369px;
}
#u21.b {
  left:284px;
  top:317px;
}
#u21_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22.b {
}
#u23.b {
  left:25px;
  top:153px;
  width:551px;
  height:127px;
}
#u23_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u24.b {
  width:551px;
}
#u0_state0.b {
  width:600px;
  height:480px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u0_ann.b {
  left:897px;
  top:126px;
}
#u25.b {
  left:384px;
  top:24px;
  height:73px;
}
#u25_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u26.b {
}
#u28.b {
  width:1200px;
}
#u28_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:802px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 54, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29.b {
  width:1180px;
}
#u30.b {
  left:394px;
  top:241px;
}
#u30_img.b {
}
#u31.b {
}
#u30_ann.b {
  left:817px;
  top:237px;
}
#u32.b {
  left:399px;
  top:461px;
}
#u32_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 255, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.b {
}
#u32_ann.b {
  left:812px;
  top:457px;
}
