.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
  font-family:'TitilliumWeb-Regular', 'Titillium Web';
  font-weight:400;
  font-style:normal;
  color:#105978;
  text-align:left;
}
.backgr {
}
.primary_button {
  color:#FFFFFF;
}
.image {
}
.cloudfill {
}
.button {
}
.heading_1 {
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:47px;
  color:#FFFFFF;
  text-align:center;
}
.heading_1_480 {
  font-family:'TitilliumWeb-Bold', 'Titillium Web Bold', 'Titillium Web';
  font-weight:700;
  font-style:normal;
  font-size:47px;
  text-align:center;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:37px;
  text-align:left;
}
.heading_2_480 {
  font-family:'TitilliumWeb-Regular', 'Titillium Web';
  font-weight:bold;
  font-style:normal;
  font-size:37px;
  color:#FFFFFF;
  text-align:center;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:29px;
  text-align:left;
}
.heading_3_480 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:29px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:23px;
  text-align:left;
}
.heading_4_480 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:23px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-size:18px;
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.table_cell {
}
.connector {
}
.box_4 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
.hotspot {
}
.acheader {
  font-family:'TitilliumWeb-Regular', 'Titillium Web';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
.icon {
}
.new_style {
}
